.social-tag-twitter{
    color: rgb(129, 161, 142);
}
.social-tag-facebook{
    color: rgb(59, 89, 152);
}
.social-tag-youtube{
    color: rgb(255, 0, 0);
}
.detail-card-body{
    background-color: rgb(252, 77, 87);
    padding: 20px 10px;
    color: white;
    border-radius: 20px;
}
.badge-image{
    width: 250px;
    height: 250px;
    margin-top: -350px;
    margin-bottom: 150px;
}
.thumb-image{
    width: 100%;
    height: 500px;
}